<h1 class="center-class">Welcome, Task Manager User!</h1>

<img  class="center-class" src="https://openclipart.org/image/800px/svg_to_png/215492/task.png" alt="task image"></img>


<h2><%= link_to 'My Tasks', {:controller => 'tasks'}, {:class=>'center-class'} %></h2>